<!--// Footer //-->
<footer id="ritekhela-footer" class="ritekhela-footer-one">

    <!--// Footer Widget //-->
    <div class="ritekhela-footer-widget">
        <div class="container">
            <div class="row">
                <aside class="widget col-md-4 widget_about_info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elUt ac malesuada ante.Sed gravida, ur quis tempus sollicitudin, tellus urna</p>
                    <div class="widget_about_info_social">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-dribbble"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                        <a href="#" class="fab fa-youtube"></a>
                    </div>
                    <ul>
                        <li><i class="fa fa-map-marker-alt"></i> 9907 Salford road, east London Uk 2807</li>
                        <li><i class="fa fa-phone"></i> (+92) 123 45 678 - 987 65 432</li>
                        <li><i class="fa fa-envelope"></i> <a href="#">info@example.com</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <!--// Footer Widget //-->


</footer>
<!--// Footer //-->